---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import MediaContent from "@/components/MediaContent.astro";
import PlaceBusinessHours from "@/components/PlaceBusinessHours.astro";
import FullscreenGallery from "@/components/FullscreenGallery.astro";
import { useTranslations } from "@/lib/i18n";
import { languages } from "@/i18n/ui";
import carportCounter from "@/images/carport-counter.jpg";
import carportCounterBikes from "@/images/carport-counter-bikes.jpg";
import menuComptoirDePipangaille from "@/assets/menu_comptoir_de_pipangaille.svg";

const { lang } = Astro.props as { lang: keyof typeof languages };
const t = useTranslations(lang);
---

<Layout
  bodyClass="theme-counter"
  title={t("seo.pages.counter.title")}
  description={t("seo.pages.counter.description")}
>
  <div
    data-scroll-animated
    class="bg-muted sticky top-0 z-10 ml-[calc(50%-50vw)] h-28 w-screen"
  >
  </div>
  <Header
    title={t("counter.hero.title")}
    text={t("counter.hero.text")}
    image={carportCounter}
    imageAlt={t("counter.hero.imageAlt")}
  >
    <PlaceBusinessHours
      description={t("counter.hero.description")}
      lang={lang}
      titleLevel="h2"
      slug="comptoir"
    />
  </Header>
  <div
    data-scroll-animated
    class="bg-background sticky top-0 z-10 -mb-20 ml-[calc(50%-50vw)] h-28 w-screen"
  >
  </div>
  <MediaContent
    direction="left"
    title={t("counter.story.title")}
    text={t("counter.story.text")}
    image={carportCounterBikes}
    imageAlt={t("counter.story.imageAlt")}
  />
  <MediaContent
    title={t("counter.menu.title")}
    text={t("counter.menu.text")}
    image={menuComptoirDePipangaille}
    imageAlt={t("counter.menu.title")}
    objectFit="contain"
    galleryId="counter-menu"
    imageClass="aspect-4/5! p-4"
  />
  <div class="mb-24 md:mb-48"></div>
  <FullscreenGallery
    images={[{ src: menuComptoirDePipangaille, alt: t("counter.menu.title") }]}
    galleryId="counter-menu"
    lang={lang}
  />
</Layout>
