---
import { Button } from "./ui/button";

const {
  title,
  image,
  imageAlt,
  description,
  buttonText,
  buttonLink,
  tags,
  class: className,
} = Astro.props;
---

<article class={`space-y-4 relative ${className}`}>
  <img class="aspect-video" src={image} alt={imageAlt} />
  <div class="flex gap-2.5 absolute top-4 left-4">
    {
      tags.map((tag) => (
        <span class="bg-background rounded-sm px-2 py-1 flex items-center gap-1.5 text-sm">
          {tag.icon && <tag.icon size={16} />}
          <span>{tag.text}</span>
        </span>
      ))
    }
  </div>
  <div class="px-2 space-y-6">
    <div class="space-y-4">
      <h3>{title}</h3>
      <p>{description}</p>
    </div>
    <Button class="pl-0" href={buttonLink} variant="secondary"
      >{buttonText}</Button
    >
  </div>
</article>
