---
import { Image, getImage } from "astro:assets";
import type { ImageMetadata } from "astro";
import { Button } from "./ui/button";

type HeadingLevel = "h1" | "h2" | "h3" | "h4" | "h5" | "h6";

interface Props {
  title: string;
  image: ImageMetadata;
  imageAlt: string;
  description?: string;
  buttonText: string;
  buttonLink: string;
  tags?: { icon?: any; text: string }[];
  class?: string;
  titleLevel?: HeadingLevel;
  isLCP?: boolean;
  sizes?: string;
}

const {
  title,
  image,
  imageAlt,
  description,
  buttonText,
  buttonLink,
  tags,
  class: className,
  titleLevel = "h3",
  isLCP = false,
  sizes = "(min-width: 724px) 724px, 100vw",
} = Astro.props;

const TitleComponent = titleLevel;

// Optimize background image for blur effect
const optimizedBgImage = await getImage({
  src: image,
  width: 200,
  quality: 5,
  format: "webp",
});
---

<article
  class={`space-y-4 relative bg-accent rounded-3xl -mx-1 p-2 ${className}`}
  style={`--card-image: url(${optimizedBgImage.src});`}
  tabindex="-1"
  onclick={`window.location.href='${buttonLink}'`}
>
  <Image
    class="aspect-video"
    quality="40"
    width="724"
    height="408"
    sizes={sizes}
    src={image}
    alt={imageAlt}
    fetchpriority={isLCP ? "high" : "auto"}
    loading={isLCP ? "eager" : "lazy"}
  />
  <div class="absolute top-4 left-4 flex flex-wrap gap-2.5">
    {
      tags &&
        tags.map((tag, index) => (
          <span
            class={`bg-background flex items-center gap-1.5 rounded-sm px-2 py-1 text-xs sm:text-sm ${index >= 2 ? "hidden xl:flex" : ""}`}
          >
            {tag.icon && <tag.icon size={16} />}
            <span>{tag.text}</span>
          </span>
        ))
    }
  </div>
  <div class="space-y-6 px-2">
    <div class="space-y-4">
      <TitleComponent>{title}</TitleComponent>
      {description && <p>{description}</p>}
    </div>
    <Button class="pl-0" href={buttonLink} variant="secondary">
      {buttonText}
    </Button>
  </div>
</article>

<style>
  article {
    position: relative;
    isolation: isolate; /* keeps the blur behind inner content */
    background: transparent;
    overflow: hidden;
  }

  article::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--card-image);
    background-size: cover;
    background-position: center;
    filter: blur(1200px) saturate(200%);
    transform: scale(1.5);
    opacity: 0;
    z-index: -1;
    transition: opacity 0.2s ease-in-out;
  }
  article:hover::before {
    opacity: 0.2;
  }
  article:focus-within::before {
    opacity: 0.6;
  }
</style>
