---
import Button from "@/components/ui/button/button.astro";

const { title, text, image, imageAlt, buttonText, buttonLink } = Astro.props;
---

<header class="relative grid sm:grid-cols-2 md:gap-20 px-20 pt-12">
  <span class="bg-muted -z-10 absolute inset-x-0 top-0 bottom-16"></span>
  <img class="aspect-11/12" src={image} alt={imageAlt} />
  <div class="flex flex-col justify-center gap-8 pb-16">
    <h1>{title}</h1>
    <p>{text}</p>
    <Button class="self-baseline" href={buttonLink}>{buttonText}</Button>
  </div>
</header>
