---
import Button from "@/components/ui/button/button.astro";
import { cn } from "@/lib/utils";
import { Image } from "astro:assets";

const {
  title,
  text,
  image,
  imageAlt,
  buttonText,
  buttonLink,
  buttonVariant = "default",
  buttonExternal = false,
  withBackground = true,
  tags,
  imageSizes = "(min-width: 1024px) 50vw, 100vw",
  imageQuality = 30,
} = Astro.props as {
  title: string;
  text?: string | string[];
  image: any;
  imageAlt: string;
  buttonText?: string;
  buttonLink?: string;
  buttonVariant?:
    | "link"
    | "default"
    | "destructive"
    | "outline"
    | "secondary"
    | "ghost";
  buttonExternal?: boolean;
  withBackground?: boolean;
  tags?: { icon?: any; text: string }[];
  imageSizes?: string;
  imageQuality?: number;
};

const paragraphs = Array.isArray(text)
  ? text.filter(Boolean)
  : typeof text === "string"
    ? text.split(/\n\s*\n/).filter(Boolean)
    : [];
---

<header
  class="relative grid gap-10 px-4 pt-12 md:px-10 lg:grid-cols-2 lg:gap-20 lg:px-20"
>
  <span
    class={cn(
      "-z-10 absolute w-screen left-1/2 -translate-x-1/2 top-0 bottom-0 xl:bottom-16",
      withBackground && "bg-muted",
    )}></span>
  <Image
    class="aspect-video lg:aspect-11/12"
    quality={imageQuality}
    fetchpriority="high"
    loading="eager"
    sizes={imageSizes}
    src={image}
    alt={imageAlt}
  />
  <div class="flex flex-col justify-center gap-6 pb-16">
    {
      tags && tags.length > 0 && (
        <div class="flex flex-wrap gap-3">
          {tags.map((tag) => (
            <div class="bg-muted flex items-center gap-2 rounded-md px-3 py-2 text-sm">
              {tag.icon && <tag.icon size={16} />}
              <span>{tag.text}</span>
            </div>
          ))}
        </div>
      )
    }
    <h1>{title}</h1>
    {
      paragraphs.length > 0 && (
        <div class="flex flex-col gap-4">
          {paragraphs.map((paragraph) => (
            <p>{paragraph}</p>
          ))}
        </div>
      )
    }
    <slot />
    {
      buttonLink && buttonText && (
        <Button
          class={cn("self-baseline", buttonVariant === "secondary" && "pl-0")}
          variant={buttonVariant}
          href={buttonLink}
          external={buttonExternal}
        >
          {buttonText}
        </Button>
      )
    }
  </div>
</header>
