---
import {
  DialogTrigger,
  DialogTitle,
  DialogHeader,
  DialogContent,
  Dialog,
} from "./ui/dialog/index.astro";
import { useTranslations } from "@/lib/i18n";
import { ui } from "@/i18n/ui";
import { Button } from "./ui/button";

interface Props {
  lang: keyof typeof ui;
  address: string;
  triggerText?: string;
  triggerVariant?:
    | "default"
    | "destructive"
    | "outline"
    | "secondary"
    | "ghost"
    | "link";
  triggerClass?: string;
}

const { lang, address, triggerText, triggerVariant, triggerClass } =
  Astro.props;

const t = useTranslations(lang);
const slot = await Astro.slots.render("default");

const encodedAddress = encodeURIComponent(address);

const googleMapsUrl = `https://www.google.com/maps/search/?api=1&query=${encodedAddress}`;
const appleMapsUrl = `https://maps.apple.com/?q=${encodedAddress}`;
const wazeUrl = `https://www.waze.com/ul?q=${encodedAddress}&navigate=yes`;

const providers = [
  {
    name: "Google Maps",
    url: googleMapsUrl,
  },
  {
    name: "Apple Plans",
    url: appleMapsUrl,
  },
  {
    name: "Waze",
    url: wazeUrl,
  },
];
---

<Dialog>
  <DialogTrigger variant={triggerVariant} class={triggerClass}>
    {slot ? <Fragment set:html={slot} /> : triggerText}
  </DialogTrigger>
  <DialogContent>
    <DialogHeader>
      <DialogTitle>{t("mapProviderDialog.title")}</DialogTitle>
    </DialogHeader>
    <div class="flex flex-col gap-3 py-4">
      {
        providers.map((provider) => (
          <Button href={provider.url} external variant="outline">
            {provider.name}
          </Button>
        ))
      }
    </div>
  </DialogContent>
</Dialog>
